<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

<div class="container body-content">
    @RenderBody()
    <hr />
    <h3>Engineering Layout Page</h3>
    <footer>
        <p>&copy; 2019 - Engineering Dept</p>
    </footer>
</div>
</body>
</html>
