@page
@model EntAppSecond.Pages.Students.CreateStudentModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create Student</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for=Student.FirstName></label>
        <input asp-for=Student.FirstName/>
        <span asp-validation-for=Student.FirstName></span>
    </div>
    <div>
        <label asp-for=Student.LastName></label>
        <input asp-for=Student.LastName />
        <span asp-validation-for=Student.LastName></span>
    </div>
    <div>
        <label asp-for=Student.StudentID></label>
        <input asp-for=Student.StudentID />
        <span asp-validation-for=Student.StudentID></span>
    </div>
    @*<div>
        <label asp-for=Student.DOB></label>
        <input asp-for=Student.DOB/>
        <span asp-validation-for=Student.DOB></span>
    </div>
    <div>
        <label asp-for=Student.NoOfModules></label>
        <input asp-for=Student.NoOfModules/>
        <span asp-validation-for=Student.NoOfModules></span>
    </div>
    <div>
        <label asp-for=Student.Height></label>
        <input asp-for=Student.Height/>
        <span asp-validation-for=Student.Height></span>
    </div>
    <div>
        <label asp-for=Student.Email></label>
        <input asp-for=Student.Email/>
        <span asp-validation-for=Student.Email></span>
    </div>
    <div>
        <label asp-for=Student.EmailConfirmation></label>
        <input asp-for=Student.EmailConfirmation/>
        <span asp-validation-for=Student.EmailConfirmation></span>
    </div>*@

    <button type="submit">Press Me</button>
</form>
